include ../templates/mixins/m-dropdown

-
	dropdowns = [
		{
			title: 'Пребіотичну клітковину (XOS)',
			text: [
				'<h6>Пребіотичну клітковину (XOS)</h6><p>Всі ви чули про пробіотики. Пробіотики — це «хороші» бактерії, які живуть у вашому кишечнику та допомагають підтримувати вашу травну систему здоровою. A що таке пребіотики? Пребіотики забезпечують «їжу» для пробіотиків. Пребioтики — ксилоолігосахариди (XOS) також сприяють росту біфідобактерій у кишечнику. На відміну від інших форм пребіотиків, вони не викликають здуття чи болю в животі.</p><a>Більше про пробіотики</a>'
			]
		},
		{
			title: 'Органічні кислоти',
			text: '<h6>Органічні кислоти</h6><p>Напiй мiстить оцтову, глюконову та глюкоронову кислoти з комбучі, які сприяють детоксикації та поліпшенню травлення.</p><a>Більше про органічні кислоти</a>'
		},
		{
			title: 'Витяжку з 6 трав',
			text: '<h6>Витяжку з 6 трав</h6><p>Трава кульбаби, лопух, полин, ромашка, календула, деревій відомі своїми корисними властивостями. Вони сприяють поліпшенню травлення й роботi жовчного міхура, покращенню здоров’я кишечника та зниженню рівня холестерину; мають спазмолітичні, протизапальні, протигрибкові, противірусні та антимікробні властивостi.</p><a>Більше про трави</a>'
		}
	]
	cancel = [
		'консерванти',
		'стабілізатори',
		'емульгатори',
	]
section.section.contains
	.section_in
		.contains__content
			.contains__title.main_title Jiva містить:
			.contains__dropdowns
				each item in dropdowns
					+dropdown(item)
			.contains__title.main_title Jiva не містить:
			.contains_cancel
				each item in cancel
					.contains_cancel__item
						.contains_cancel__icon
							+icon('cross', 'icon--size_mod')
						.contains_cancel__text!= item

