include ../templates/mixins/m-dropdown

-
	faq = [
		{
			title: 'Пребіотичну клітковину (XOS)',
			text: [
				'<p>Всі ви чули про пробіотики. Пробіотики — це «хороші» бактерії, які живуть у вашому кишечнику та допомагають підтримувати вашу травну систему здоровою. A що таке пребіотики? Пребіотики забезпечують «їжу» для пробіотиків. Пребioтики — ксилоолігосахариди (XOS) також сприяють росту біфідобактерій у кишечнику. На відміну від інших форм пребіотиків, вони не викликають здуття чи болю в животі.</p><a href=`#`>Більше про пробіотики</a>'
			]
		},
		{
			title: 'Органічні кислоти',
			text: '<p>Напiй мiстить оцтову, глюконову та глюкоронову кислoти з комбучі, які сприяють детоксикації та поліпшенню травлення.</p><a>Більше про органічні кислоти</a>'
		},
		{
			title: 'Витяжку з 6 трав',
			text: '<p>Трава кульбаби, лопух, полин, ромашка, календула, деревій відомі своїми корисними властивостями. Вони сприяють поліпшенню травлення й роботi жовчного міхура, покращенню здоров’я кишечника та зниженню рівня холестерину; мають спазмолітичні, протизапальні, протигрибкові, противірусні та антимікробні властивостi.</p><a>Більше про трави</a>'
		}
	]

section.section.faq
	.section_in
		.faq__wrap
			each item in faq
				+dropdown(item)
