mixin article_img(data)
	section.section.article_img(class=data.mod)
		.section_in
			.article_img__content
				article.article_img__text
					each item in data.article
						if item.title
							h3!= item.title
						if item.text
							each p in item.text
								p!= p
				+picture({
					class: 'article_img__img_w',
					class_img: 'article_img__img',
					img: `images/article_img/${data.img}`,
					alt: 'article img'
				})
			if data.btn || data.btn_mod
				.article_img__btn_w
					button.main-button(class= data.btn_mod)
						a(href="#") Замовити
