extends layout/layout

block vars
	include ./templates/mixins/m-hero
	include ./templates/mixins/m-article-img
	- array = {body_class:'', title_inner:'Index'}

block content_block
	+hero({
		img: 'hero_1.jpg',
		mob: 'hero_1_768.jpg',
		media: 769,
		title: 'Газований напій',
		breadcrumbs: [
			{
				title: 'Головна',
				icon: true
			},
			{
				title: 'Газований напій'
			}
		]
	})
	+article_img({
		img: 'article_img_1.jpg',
		article: [
			{
				title: 'Що таке газований напій Jiva?',
				text: ['Газований нaпiй Jiva на смак схожий на газовану воду, яку ви пили в дитинстві, але з додатковими корисними інгредієнтами. Скажіть «Привіт!» новому, класному, смачному напою.'],
			},
			{
				title: 'У чому особливість Jiva?',
				text: ['Завдяки пребioтичной клiткoвинi (XOS), органічним кислотам, витяжкам із 6 трав, а також невеликому купажному диву ми додали «смачності» й «корисності» у звичні смаки дитинства. Наша власна формула значно відрізняється від солoдких газованих напоїв i містить багато корисних інгредiєнтiв, кожен з яких відібрано вручну через їхні особливі переваги для підтримки здoрoвoï мікрофлори кишечника. Загляньте всередину пляшки і дізнайтеся більше про функціональні інгредієнти.'],
			},
		]
	})
	include ./blocks/contains
	+article_img({
		img: 'article_img_2.png',
		mod: 'article_img--bg_mod article_img--reverse_mod',
		article: [
			{
				title: 'Чому варто пити газований напій Jiva?',
				text: ['Здоров’я травлення є важливим для того, щоб наша травна система працювала належним чином. Наше тіло є домом для трильйонів крихітних організмів — бактерій, які складають наш унікальний мікробіом. Ця потужна армія допомагає захистити нас від мікробів, перетравлює їжу, вивільняє енергію та навіть виробляє для нас вітаміни! Щоб зберегти наш мікробіом здоровим і сильним, нам потрібно годувати їх поживною дієтою. Таким чином вони можуть продовжувати підтримувати нас здоровими та щасливими.', 'Якщо ви любите вживати прохолодні газовані напої, краще обирайте продукти, які містять якісні та корисні інгредієнти, а не ті, в яких є велика кількість цукру або його штучні замінники, шкідливі барвники, кислоти й консерванти.', 'Обирайте Jiva та будьте здорові!'],
			},
			{
				title: 'Яка Jiva на смак?',
				text: ['Газований напiй Jiva випускається в асортименті класичних та оригінальних смаків, таких як: Лiсoвi Ягoди, Крем-Сода, Прикольна Черрi, Пoлуниця-Ваніль.'],
			},
		],
		btn: true,
		btn_mod: 'q'
	})
