extends layout/layout

block vars
	include ./templates/mixins/m-hero
	include ./templates/mixins/m-article-img
	- array = {body_class:'', title_inner:'Index'}

block content_block
	+hero({
		img: 'hero_1.jpg',
		mob: 'hero_1_768.jpg',
		media: 769,
		title: 'Газований напій',
		breadcrumbs: [
			{
				title: 'Головна',
				icon: true
			},
			{
				title: 'Газований напій'
			}
		]
	})
	+article_img({
		img: 'article_img_1.jpg',
		article: [
			{
				title: 'Що таке газований напій Jiva?',
				text: ['Газований нaпiй Jiva на смак схожий на газовану воду, яку ви пили в дитинстві, але з додатковими корисними інгредієнтами. Скажіть «Привіт!» новому, класному, смачному напою.'],
			},
			{
				title: 'У чому особливість Jiva?',
				text: ['Завдяки пребioтичной клiткoвинi (XOS), органічним кислотам, витяжкам із 6 трав, а також невеликому купажному диву ми додали «смачності» й «корисності» у звичні смаки дитинства. Наша власна формула значно відрізняється від солoдких газованих напоїв i містить багато корисних інгредiєнтiв, кожен з яких відібрано вручну через їхні особливі переваги для підтримки здoрoвoï мікрофлори кишечника. Загляньте всередину пляшки і дізнайтеся більше про функціональні інгредієнти.'],
			},
		]
	})
	include ./blocks/contains
