extends layout/layout

block vars
	include ./templates/mixins/m-hero
	- array = {body_class:'', title_inner:'Index'}

block content_block
	+hero({
		img: 'hero_1.jpg',
		mob: 'hero_1_768.jpg',
		media: 769,
		title: 'Газований напій',
		breadcrumbs: [
			{
				title: 'Головна',
				icon: true
			},
			{
				title: 'Газований напій'
			}
		]
	})
